* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #87CEEB; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#counter {
    width: 800px;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 1.5rem;
    margin: 20px 0;
    color: #fff;
    text-shadow: 2px 2px 6px #295680;
    font-weight: bold;
}

/* #score, #timer {
    
} */

#game-container {
    position: relative;
    width: 800px;
    height: 600px;
    /* background-image: url('water-background.jpg');  */
    background-size: cover;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: none; /* Hide default cursor */
    overflow: hidden;
}

#game-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 6px #223560;
}

#start-button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 1.5rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#start-button:hover {
    background-color: #218838;
}

#start-button:active {
    transform: translate(-50%, -50%) scale(0.95);
}

#fish {
    position: absolute;
    width: 500px;
    cursor: none;
    transition: transform 0.1s;
}

#fish:active {
    transform: scale(0.95);
}

#hand {
    position: absolute;
    width: 50px;
    pointer-events: none; 
    z-index: 10; 
    transform: translate(-50%, -50%); 
}

#game-over {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 1.8rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}